body{
	font-family: Verdana;
}
.comentario{
	border: solid black;
}

section{
	border: 3px solid purple;
}

article{
	width: 40%;
	border: 1px solid  black;
}

.avatar{
	width: 50px;
}
.avatar_mini{
	width: 25px;
}

.foto{
	width: 100px;
}

#calendario{
	border: 3px red solid;
	overflow: hidden;
	font-size: 0.7em;
	width: 100%;
	height: 100%;
	float: right;
	
}

.caja_calendario{
	display: inline-block;
	width: 12%;
	height: 10%;
	margin: 3px;
	padding: 0;
	border: 1px solid black;
	border-radius: 3

	
}

.caja_calendario_hidden{
	display: inline-block;
	width: 12%;
	height: 10%;
	margin: 4px;
	padding: 0;
	display: hidden;
}

.caja_calendario_headers{
	text-align: center;
	font-weight: bold;
	display: inline-block;
	width: 12%;
	height: 10%;
	margin: 3px;
	padding: 0;
	border: 1px solid black;
	border-radius: 3

	
}

.botonera_calendario{
	text-align: center;
}


#postit{
	position: absolute;
	overflow: hidden;
}

.postit_oculto{
	display: none;
}

.postit_visible{
	
	width: 15%;
	height: 50%;
	background-color: #FDDC79;
	border-color: #FCC418;
}

.diaConEvento{
	background-color: #FDDC79;
}

#postit input[type='text']{
	background-color: #FDDC79;
	width: 100%;
}