<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>API Forms</title>
		<script type="text/javascript">	
			function validar(){
				var nombre=document.getElementById("nombre");
				var apellido=document.getElementById("apellido");
				
				if (nombre.value=="") {
					nombre.setCustomValidity("Escriba el nombre");
				} else if(apellido.value=="") {
					apellido.setCustomValidity("Escriba el apellido");
				} else{
					nombre.setCustomValidity("");
				}
				
				
				var email1=document.getElementById("email");
				var email2=document.getElementById("repetido");
				
				if (email1.value != email2.value) {
					email2.setCustomValidity("Los dos emails no coinciden");
				} else {
					email2.setCustomValidity("");
				}
			}   
		</script>
	</head>
	
	<body>
		<form name="info" method="post">
			<label>Nombre:</label><br/>
			<input type="text" id="nombre" name="nombre">
			<br/>
			
			<label>Apellido:</label><br/>
			<input type="text" id="apellido" name="apellido">
			<br/>
			
			<label>Email:</label><br/>
			<input type="email" id="email" name="email">
            <br/>

			<label>Repetir email:</label><br/>
			<input type="email" id="repetido" name="repetido">
            <br/>
            
			<input type="submit" name="enviar" value="Enviar" onclick="validar()">
		</form>
	</body>
</html>